<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.AddressMapper" >
	<resultMap id="BaseResultMap" type="com.demo.entity.Address" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<id column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="VARCHAR" />
		<result column="add_is_default" property="addIsDefault" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List" >
    	id, userid, address,phone,user_name,user_sex,add_is_default
	</sql>
  
	<select id="selecOrdersByUserID" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from address where userid = #{userID,jdbcType = VARCHAR}
		order by address
	</select>
  
</mapper>