<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.OrderMapper" >
	<resultMap id="BaseResultMap" type="com.demo.entity.Order" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="appointment_time" property="appointmentTime" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="money" property="money" jdbcType="SMALLINT" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="VARCHAR" />
		<result column="doc_status" property="docStatus" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List" >
    id, userid, user_name, appointment_time, create_time, money, phone, remark, address, user_sex, doc_status
	</sql>
  
	<select id="selectOrderByUserID" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from orders where userid = #{userId,jdbcType = VARCHAR}
		order by create_time
	</select>
  
</mapper>